doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cycle.js Components DEMO
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous")
        link(rel="stylesheet" href="main.css")
    body
        #app
        script(src="main.js")
